.page-login{
    background: url('gedung_prasmul.jpg');
    height: calc(100vh + 20px);
    width: calc(100% + 20px);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
    margin: -10px -10px;
}

.box{

    width: 30%;
    min-width: 400px;
    height: 70%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
    background-color: rgba(0, 0, 0, .0)
}

.box-inside{
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.image-brand{
    margin-top: 20px;
    height: 150px;
    width: 150px;
}

input{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    width: 70%;
    background-color: #1e2d49;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: gray;
}

.headLine1{
    font-weight: 200;
    color: darkgray;
}

.headLine2{
    font-weight: 400;
    color: gray;
}

.footLine1{
    font-weight: 200;
    color: darkgray;
}

.footLine2{
    font-weight: 400;
    color: #1e2d49;
}

.footLine2:hover{
    color: gray;
}