*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: white;
    margin: 0px 0px 0px 0px;
}

#header{
    padding: 20px 40px 0px 20px;
    height: 200px;
    background-color: rgb(234, 239, 244);
}

.row{
    display: flex;
    flex-direction: row;
    width: calc(100%-60px);
    flex-wrap: wrap;
}

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#header > .start {
    height: 100%;
    width: 200px;
}

.brand-image{
    width: 170px;
    height: 170px;
    border-radius: 10px;
}

.header-start-top{
}

.header-start-bottom{
    align-self: baseline;
}

#header > .center{
    padding: 0px 20px;
}

#header > .end {
    align-self: center;
}

.end button{
    padding: 10px;
    background-color: #146aff;
    border: none;
    border-radius: 4px;
    width: 100px;
    color: white;
    font-weight: bold;
    height: 40px;
}

.title{
    font-weight: 400;
    font-size: 40px;
    margin-top: 20px;
}

.subtitle{
    font-weight: 200;
    color: gray;
    margin-bottom: -20px;
}

.subtitle-details{
    font-weight: 200;
    color: gray;
    margin-bottom: 0px;
}

.text-content{
    font-weight: 200;
    font-size: 15px;
}

.nav-button{
    padding: 30px 10px;
    padding-top: 10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.nav-button-active{
    background-color: white;
}

#content{
    padding: 40px 20px;
    background-color: white;
    height: 360px;
    width: calc(100% - 40px);
    margin-top: -30px;
    box-shadow: 0px 4px 7px rgba(192, 192, 192, 0.5);
}

#content > .first{
    height: 100%;
    width: calc(33.33% - 41px);
    padding: 0 20px;
}

#content > .second{
    height: 100%;
    width: calc(33.33% - 40px);
    padding: 0 20px;
}

#content > .third{
    height: 100%;
    width: calc(33.33% - 40px);
    padding: 0 20px;
}

.headline{
    font-size: 20px;
    font-weight: 200;
}

.first-content{
    display: block;
    margin: 10px 0;
}

.row-divider{
    width: 0.5px;
    margin: 6px 0;
    background: gray;
}

.column-divider{
    height: 0.5px;
    margin: -5px -5px;
    background: gray;
}

.left-content{
    width: 50%;
    margin-top: -16px;
}

.right-content{
    width: 50%;
    margin-top: -16px;
}

.news-view-all{
    width: 100%;
    text-align: center;
}

.text-blue{
    color : #146aff;
}

.big-number{
    font-size: 20px;
    font-weight: 400;
}

#content2{
    height: 1160px;
    width: calc(100% - 40px);
    margin: 20px 20px 20px 20px;
}

#content > .content2-left{
    width: 66.67%;
}

.content2-left .details{
    height: 600px;
    box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.4);
    width: calc(100% - 40px);
    margin-bottom: 20px;
    padding: 0 20px;
}

.content2-left .list-company{
    height: 560px;
    box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.4);
    width: calc(100% - 40px);
    padding: 0 20px;
}

.details .left{
    width: 50%;
}

.details .right{
    width: 50%;
}

.option-button{
    padding: 8px 10px;
    border-radius: 8px;
    background-color: powderblue;
}

.left .option{
    margin-top: 10px;
}

.company-image{
    width: 80px;
    height: 80px;
    background-color: gray;
    border-radius: 4px;
    margin: 10px 10px 10px 0px;
}

.company-description{
    justify-content: center;
}

.track{
    align-self: center;
    float: right;
}

#content2 .get-started{
    height: 600px;
    box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.4);
    width: 30%;
    margin-left: 20px;
    background-image: url("https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco/v1599605156/clientapp/rails_upsell_large.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #183444;
    border-radius: 5px;
}

.footline{
    width: calc(100% - 40px);
    height: calc(100% - 360px);
    margin-top: 400px;
    padding: 20px 20px;
    justify-content: center;
    align-self: center;
}

.footline .text-footline{
    margin-top: 15px;
    color: white;
    font-size: 28px;
    font-weight: 400;
    display: block;
}

.get-started-button{
    width: 150px;
    float: right;
    background-color: #f5a623;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    margin: 20px 10px;
}