table{
    border: 3px solid black;
    width: 500px;
    height: 100px; 
}

tr{
    
    width: 100px;
    height: 100px; 
}

td {
    border: 3px solid black;
    width: 100px;
    height: 100px; 
}