p{
    color: white;
    font-size: smaller;
    padding-top: 50pt;
    text-align: center;
    opacity: 0.7;
}

.dark-header{

    background-color: #051625;
    padding: 10pt 10pt 10pt 10pt;
    margin: -10pt -10pt 20pt -10pt;
}

.tf-custom{
    
    width: 180pt;
    height: 15pt;
    margin: 5pt 0pt 5pt 0pt;
    padding-left: 10pt;
    padding-right: 10pt;
    max-width: 50%;
    max-height: 50%;
}


.btn-custom{
    background-color: orange;
    border-radius: 10pt;
    width: 80pt;
    height: 40pt;
    font-size: small;
}

h1{
    color: white;
}

h3{
    color: white;
    margin-bottom: 60pt;
}

label{

    color: white;
}

section{
    
    background-color: #051625;
    margin-top: -80pt;
    margin-left: 25pt;
    margin-right: 25pt;
    padding: 60pt 100pt 60pt 100pt;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
    

}

body{
    background-color: #60C1B6;
}
