.dark-header{

    background-color: #051625;
    padding: 10pt 10pt 10pt 10pt;
    margin: -10pt -10pt 20pt -10pt;
}

.dark-footer{

    background-color: #051625;
    padding: 20pt 20pt 500pt 20pt;
    margin: 100pt -10pt -10pt -10pt;
}

h1{
    color: white;
}

h3{
    color: white;
}

section{
    
    background-color: #051625;
    margin-top: -80pt;
    margin-left: 25pt;
    margin-right: 25pt;
    padding: 60pt 100pt 60pt 100pt;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;

}

body{
    background-color: #60C1B6;
}
