h1{
    color: blue;
}

li{
    color: rgb(0, 200, 0);
}

p{
    color: #000000;
}

h4{
    color: rgba(13, 90, 140, 0.5)
}

.bg-1{
    background-color: green;
    padding-top: 100pt;
    margin-top: -20pt;
}

.bg-2{
    background-color: grey;
}

header{
    background-color: red;
}

body{
    background-color: blue;
}