body{
    background: url(https://images.unsplash.com/photo-1593642634627-6fdaf35209f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
    background-repeat: no-repeat;
}

div{
    background: blue;
    border: orange;
    border-width: thick;
    border-style: dotted;
}

p{
    color: yellow;
}

span{
    background: red;
    color: black;
}