* {
    
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{

    margin: 0 0 0 0;
}

input{

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

label{

    text-align: center;
}

form {
    
    padding-top: 5%;
    padding-left: 20%;
}
 
.column {

    float: left;
    width: 50%;
    padding: 10px;
    height: 100vh;
}

.left {

    background-image: url(bg-hijau.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(67, 143, 44, .6);
}

.brand-logo {

    width: 50%;
    margin-top: 25%;
    margin-left: 25%;    
}

.left-title {

    color: white;
    text-align: center;
    align-self: center;
    width: 100%;
    min-width: 50%;
    margin-top: -20px;

}

.left-desc {

    color: white;
    text-align: center;
    align-self: center;
    width: 100%;
    min-width: 50%;
    padding-left: 10%;
    padding-right: 10%;

}

.right-title {

    color: black;
    text-align: center;
    align-self: center;
    width: 100%;
    min-width: 50%;
    padding-top: 30%;

}

.right-desc {

    color: black;
    text-align: center;
    align-self: center;
    width: 100%;
    min-width: 50%;

}

.tf{

    border-color: rgba(37, 37, 38, .5);
    border-radius: 15px;
    border-width: 1px;
    width: 70%;
    height: 40px;
}


button{

    background-color: rgb(67, 143, 44);
    color: white;
    width: 70%;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin-top: 3%;
    cursor: pointer;

}

button:hover{

    background-color: grey;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}